*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Montserrat;
}

body{
background:#fdf7f0;
color:#5a3e36;
}

.container{
width:90%;
max-width:1100px;
margin:auto;
}

.section{
padding:70px 0;
text-align:center;
}

h2{
margin-bottom:40px;
}

/* HEADER */

header{
background:#fff8f2;
position:sticky;
top:0;
z-index:1000;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 0;
}

.logo{
font-size:1.5rem;
font-weight:700;
}

#menuBtn{
font-size:24px;
background:none;
border:none;
cursor:pointer;
display:none;
}

/* MENU */

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav a{
text-decoration:none;
font-weight:600;
color:#5a3e36;
}

.menu-social{
display:flex;
gap:15px;
font-size:20px;
}

/* HERO */

.hero{
height:70vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
background:#fff8f2;
}

.hero h2{
font-size:3rem;
}

.btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#4caf88;
color:white;
border-radius:30px;
}

/* CARDS */

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

.card{
background:white;
border-radius:12px;
overflow:hidden;
box-shadow:0 4px 15px rgba(0,0,0,0.05);
}

.card img{
width:100%;
height:200px;
object-fit:cover;
}

.card h3{
padding:15px;
}

/* HOURS */

.hours-grid{
display:grid;
grid-template-columns:1fr 1fr;
max-width:400px;
margin:auto;
gap:10px;
}

/* SOCIAL */

.social-big{
margin-top:20px;
font-size:30px;
display:flex;
justify-content:center;
gap:25px;
}

/* FOOTER */

footer{
padding:30px;
text-align:center;
background:#fff8f2;
}

/* MOBILE */

@media(max-width:768px){

#menuBtn{
display:block;
}

nav{
position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
background:#fff8f2;
transform:translateY(-100%);
transition:0.3s;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

nav.active{
transform:translateY(0);
}

nav ul{
flex-direction:column;
font-size:1.5rem;
margin-bottom:40px;
}

}
